<h1> Welcome to Hotel Rspectors </h1>
<% if @user_id != nil %>
Welcome: <%= @username %>
<% end %>

<form action="/user/logout" method="get">
  <input type="submit" value="Logout">
</form>


<form action="/user/login" method="get">
  <input type="submit" value="Login">
</form>

<form action='/spaces' method="get">
  <input type='submit' value='Spaces' >
</form>


<form action="user/new">
  <input type="submit" value="Register here">
</form>
