<h1> Welcome to Hotel Rspectors </h1>

<form action='/spaces' method="get">
  <input type='submit' value='Spaces' >
</form>


<form action="user/new">
  <input type="submit" value="Register here">
</form>
