<form action='/user/create_user' method='post'>
  <input type="text" name="username" placeholder="username">
  <input type="email" name="email" placeholder="email@example.com">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="Register">
</form>
