<!DOCTYPE html>
<title></title>

<head>


</head>

<body>

Confirm or deny pending request for Booking ID <%= @booking.id%>

<br><br>
Currently the status is:
<%= @booking.booking_status%>
<br><br>


<br><br>

</body>
