
<% if @user_id != nil %>
  <form action='/create_space' method='post'>
    <input type="text" name="Name" placeholder="Name of Space">
    <textarea name="Description" placeholder="Description" rows="8" cols="80"></textarea>
    <input type="text" name="Price" placeholder="Price per night">
    <input type="submit" value="Submit New Space">
  </form>
<% else %>
  <span>Please sign in to list your space</span>
<% end %>