<!DOCTYPE html>
<title></title>

<head>


</head>

<body>

Create Booking for <%= @space.name %>

<br><br>

<%= @space.description %>
<br><br>
£<%= @space.price %>
<br><br>


<form action='/bookings/create_booking' method='post'>

  <label for="start">Please select the date</label>
  <input type="date" id="start" name="choose_date"
         value="2021-01-01"
         min="2021-01-01" max="2021-12-31">
  <input type="submit" value="Book Space">

</form>


</body>
